.dropContainer {
  /* border: 1px solid blue; */
  padding: 30px 0;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  /* color: red; */
  border: 1px inset rgb(0, 0, 0, 0.3);
}


.dropUnorderList {
  list-style-type: none;
  /* border: 1px solid green; */
  padding-left: 0;
}

.dropList {
  /* border: 1px solid green; */
  text-align: left;
  padding: 5px 18px;
}

.dropList > a:hover {
  color: #000;
  text-decoration: underline;
}

.dropLink{
  color: #000;
  font-size: 15px;
  /* border: 1px solid gray; */
}

.dropLinkBold {
  font-weight: 600;
}

.dropCatMargin {
  margin-bottom: 20px;
  /* border: 1px solid purple; */
}

.dropCatHeader {
  margin-top: 20px;
  color: #000;
  font-weight: 600;
  text-decoration: underline;
  /* border: 1px solid purple; */
}